<p>Users</p>

<button (click)="toggleIsAddUserOpen()">Add User</button>

<div *ngIf="isAddUserOpen">
    <div>
        <input type="text" [(ngModel)]="userName" #name="ngModel" required pattern="^[a-zA-Z]{2,15}$">
        <div class="error" *ngIf="name.invalid && name.dirty">
            Name Is Invalid
        </div>
    </div>
    <input type="email" [(ngModel)]="userEmail" required>
    <input type="phones" [(ngModel)]="userPhones" required>
    <button (click)="addUser()">Add</button>
</div>

<div *ngFor="let user of usersList">
    <h3> {{ user.name }} </h3>
    <h2> {{ user.email }} </h2>
    <h2> {{ user.phones.join(', ') }} </h2>
</div>